# Copy this file to .env and fill in the placeholder values with your actual credentials.
# These values are required to run the project locally.
DATABASE_URL="YOUR_DATABASE_URL"
RESEND_API_KEY="YOUR_RESEND_API_KEY"
UNSUBSCRIBE_SECRET="YOUR_32_CHAR_MINIMUM_SECRET_FOR_SIGNING_UNSUBSCRIBE_LINKS"
UPSTASH_REDIS_REST_URL="https://YOUR_REDIS_INSTANCE.upstash.io"
UPSTASH_REDIS_REST_TOKEN="YOUR_UPSTASH_REDIS_REST_TOKEN"

# Optional: If you want to access resources from the production environment, you can set the
# following variable to the production URL.
# NEXT_PUBLIC_SITE_URL="https://use-synk.com"